.sidebar .logo-title .title h3 {
    text-transform: none;
}

.post .post-title h1 {
    text-transform: none;
}

.post .post-title h2 {
    text-transform: none;
}
.post .post-title h3 {
    text-transform: none;
}

header .nav__list li {
    text-transform: none;
}

